@using bitirmeProje.Domain.Entities;
@using bitirmeProje.Dto;
@{
    var groupInfoList = ViewBag.GroupInfo as List<SurveyInfoDto>;
    var group = ViewBag.Group as Group;
    var user = ViewBag.User as User;
    var IsMember = ViewBag.IsMember as GroupUser;
    var Role = ViewBag.Role as Role;
    var UserRequest = ViewBag.UserRequest as List<User>;
    var AllGroupUsers = ViewBag.AllGroupUsers as List<UserRoleDto>;
}

<script src="~/js/group.js"></script>
<style>
    .survey-container {
        justify-content: center; /* Yatayda ortala */
        margin-top: 20px;
    }
</style>
<div class="profile_container">
    <div class="profile_info">
        <div class="cart">
            <div class="img">
                @if(string.IsNullOrEmpty(group.ImageUrl)){
                    <img src="/groupImage/group-photo.jpg" alt="" class="fixed-size-image-80">
                } 
                else
                {
                    <img src="@group.ImageUrl" alt="Group Image" class="fixed-size-image-80">
                }
            </div>
            <div class="info">
                <p class="name">
                    @group.GroupName
                    @if (Role.RoleName == "Yönetici")
                    {
                        <button class="edit_profile" data-bs-toggle="modal" data-bs-target="#addGroupModal">
                            Profili Düzenle
                        </button>
                    }
                    else
                    {
                        <button class="edit_profile" id="membershipButton">
                            Üye Ol
                        </button>
                    }
                </p>
                <input type="hidden" name="groupId" id="groupId" value="@group.Id">
                <input type="hidden" name="userId" id="userId" value="@user">
                <p class="desc">
                    @group.GroupDescription
                </p>
            </div>
        </div>
    </div>
    <hr>
    @if ((IsMember != null && IsMember.IsMember == true && IsMember.IsActive == true) || (group.Private == true))
    {
        <div class="posts_profile">
            <ul class="nav-pills w-100 d-flex justify-content-center" id="pills-tab" role="tablist">
                <li class="nav-item mx-2" role="presentation">
                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
                        <img src="/images/feed.png" alt="posts">
                        ANKETLER
                    </button>
                </li>
                <li class="nav-item mx-2" role="presentation">
                    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
                        <img src="/images/save-instagram.png" alt="saved posts">
                        ÜYELER
                    </button>
                </li>
                @if (Role.RoleName == "Yönetici")
                {
                    <li class="nav-item mx-2" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
                            <img src="/images/tagged.png" alt="tagged posts">
                            İSTEKLER
                        </button>
                    </li>
                }
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                    <div id="posts_sec" class="main_section">
                        <div class="posts_container">
                            <div class="stories">
                                <div class="owl-carousel items owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage" style="transform: translate3d(-542px, 0px, 0px); transition: all 0s ease 0s; width: 2104px;">
                                        </div>
                                    </div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                                </div>
                            </div>

                            <div class="posts">
                                @await Component.InvokeAsync("SurveyComponent", @group.Id)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                    <div id="saved_sec" class="post">
                        <table class="table">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in AllGroupUsers)
                                {
                                    <tr>
                                        <td>
                                            <div class="cart">
                                                <div>
                                                    <div class="img">
                                                        @if (string.IsNullOrEmpty(item.ImageUrl))
                                                        {
                                                            <img src="/userImage/user-image.jpg" alt="User Image" class="fixed-size-image-60">
                                                        }
                                                        else
                                                        {
                                                            <img src="@item.ImageUrl" alt="User Image" class="fixed-size-image-60">
                                                        }
                                                    </div>
                                                    <div class="flex justify-between-center">
                                                        <p class="name">@item.Name @item.Surname</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        @if (Role.RoleName == "Yönetici")
                                        {
                                            <td class="pt-4">
                                                <button type="button" class="btn btn-sm" style="background-color:#c31115bd; color:white" onclick="UserRequestRejection(this,'@item.UserId','@group.Id')">X Üyelikten çıkar</button>
                                                @if (item.RoleName == "Yönetici")
                                                {
                                                    <button type="button" name="TakeGroupAdminButton" class="btn btn-sm" style="background-color:#192b87bd; color:white"  onclick="TakeGroupAdmin(this,'@item.UserId','@group.Id')">Grup Yöneticisi</button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-success btn-sm" class="btn btn-sm" style="background-color:#192b87bd; color:white" name="MakeGroupAdminButton" onclick="MakeGroupAdmin(this,'@item.UserId','@group.Id')">Grup Yöneticisi Yap</button>

                                                }
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
                    <div id="tagged" class="post">
                        <table class="table">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in UserRequest)
                                {
                                    <tr>
                                        <td>
                                            <div class="cart">
                                                <div>
                                                    <div class="img">
                                                        @if (string.IsNullOrEmpty(item.ImageUrl))
                                                        {
                                                            <img src="/userImage/user-image.jpg" alt="User Image" class="fixed-size-image-60">
                                                        }
                                                        else
                                                        {
                                                            <img src="@item.ImageUrl" alt="User Image" class="fixed-size-image-60">
                                                        }
                                                    </div>
                                                    <div class="flex justify-between-center">
                                                        <p class="name">@item.Name @item.Surname</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        @if (Role.RoleName == "Yönetici")
                                        {
                                            <td class="pt-4">
                                                
                                                <button type="button"
                                                        class="btn btn-sm"
                                                        style="background-color:#c31115bd; color:white"
                                                        onclick="UserRequestRejection(this,'@item.Id','@group.Id')">
                                                    <!-- red butonu -->
                                                    <i class="fa-solid fa-x"></i>
                                                    Reddet
                                                </button>
                                                <button type="button"
                                                        class="btn btn-sm"
                                                        style="background-color:#192b87bd; color:white"
                                                        onclick="UserRequestApproval(this,'@item.Id','@group.Id')">
                                                    <!-- Onayla butonu -->
                                                    <i class="fas fa-check"></i>
                                                    Onayla
                                                </button>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!--Create Group model-->
        <div class="modal fade" id="addGroupModal" tabindex="-1" aria-labelledby="addGroupModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title w-100 fs-5 d-flex align-items-end justify-content-between"
                            id="exampleModalLabel">
                            <span class="title_create" id="addGroupModalLabel">GRUP DÜZENLE</span>
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="group-update-form" onsubmit="return GroupUpdate(event)">
                            <input type="text" class="form-control" id="Id" name="Id" value="@group.Id" hidden required>
                            <div class="preview" id="preview" onclick="document.getElementById('groupImage').click()">
                                <!-- Resim yoksa bu metin görünür -->
                                <span>Resim Yükle</span>
                            </div>
                            <input type="file" class="form-control" name="img" id="groupImage" accept="image/*" onchange="previewImage()">
                            <input type="text" hidden class="form-control" name="ImageUrl" id="ImageUrl" value="@group.ImageUrl" accept="image/*">
                            <button type="button" onclick="deleteImage()" class="form-control">Resmi Sil</button>

                            <div class="form-group">
                                <label for="group-name" class="col-form-label">Grup İsmi</label>
                                <input type="text" class="form-control" id="group_name" name="GroupName" value="@group.GroupName" required>
                            </div>
                            <div class="form-group">
                                <label for="group-description" class="col-form-label">Grup Açıklaması</label>
                                <textarea class="form-control" id="group_description" name="GroupDescription" required>@group.GroupDescription</textarea>
                            </div>
                            <div class="form-group">
                                <label for="public_private">•Grup Herkese Açık Mı?</label><br>
                                @if (group.Private)
                                {
                                    <input type="checkbox" id="public" name="Private" value="true" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="public" name="Private" value="true">
                                }
                                <label for="public">Herkese Açık</label><br>
                            </div>
                            <div class="form-group">
                                <label for="admins_members">•Tüm üyeler anket oluşturabilir mi?</label><br>
                                @if (group.CanCreateSurvey)
                                {
                                    <input type="checkbox" id="all-members" name="CanCreateSurvey" value="true" checked>
                                }
                                else
                                {
                                    <input type="checkbox" id="all-members" name="CanCreateSurvey" value="true">
                                }
                                <label for="all-members">Evet,oluşturabilir.</label><br>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">KAPAT</button>
                                <button type="submit" class="btn btn-primary">KAYDET</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <p>Bu grup gizli</p>
    }
    
</div>


